@media (max-width:375px) {
    .body {
        padding: 0;
        margin: 0;
    }

    .img003 {
        width: 355px;
    }

    .nav-02 {
        display: none;
    }

    .nav-01 {
        border-radius: 5px;
        width: 375px;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-01 ul li a {
        display: none;
    }

    #ad-01:first-child {
        width: 305px;
        display: block;
        margin-bottom: 4%;
        margin-left: auto;
        margin-right: auto;
    }

    .flex-1, .flex-3 {
        display: none;
    }

    .flex-2 {
        width: 355px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #f2-d1 p:first-child {
        margin-right: 4%;
    }

    #f2-d3 img {
        width: 355px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #img01 {
        width: 350px;

    }

    .grid-1 {
        grid-template-areas:
            "img1"
            "img2"
            "img3"
            "img4"
            "img5"
            "img6";
    }

    #d-p-01 {
        display: block;
        padding-top: 1%;
        margin-left: auto;
        margin-right: auto;
    }

    #d-input-0 {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* #d-input-1 {
        color: black;
        padding-top: 4%;
        font-size: 12px;
        padding-left: 8%;
    } */

    .flex-contain {
        flex-direction: column;
    }

    .di-0 {
        justify-content: space-around;
        margin-top: 4%;
    }

    .di-1 {
        justify-content: space-around;
        margin-top: 4%;
    }

    .last-sp {
        display: none;
    }


}