@font-face {
    font-family: "IranSans";
    src: url('Font/IranianSans.ttf') format("truetype"),
        url('Font/Sansa4fran3.ttf') format("truetype");
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "IranSans";
}

.dark-theme {
    transition: all .9s ease-in;
    background-color: rgb(20, 20, 20);
    filter: invert(-1) hue-rotate(180deg);
    color: white;
}

img {
    filter: invert(-1) hue-rotate(180deg);
}

.container {
    direction: rtl;
}

.navbar {
    margin: 0 auto;
    border-radius: 0px 0px 10px 10px;
    background-color: #1d1d1d;
}

.navbar-brand {
    direction: rtl;
}

.nav-link {
    font-family: "IranSans";
    font-size: 13px;
    color: rgb(255, 255, 255);
}

.nav-link:hover {
    font-family: "IranSans";
    transition: all .9s ease;
    font-size: 15px;
    color: rgb(219, 219, 219);
}

.nav-link:first-child {
    color: white;
}

#icon00 {
    cursor: pointer;
    width: 30px;
}

.icon0 {
    margin: 2% 0% 2% 0%;
    display: flex;
    justify-content: center;
}

.h-line {
    color: white;
    opacity: 0.2;
}

#more-icon {
    color: white;
    margin-top: 0.5%;
}

.nav-item-icon {
    display: inline-block;
    justify-content: space-between;
    padding: 0% 4% 0% 4%;
    font-size: 27px;
}

.nav-link-icon {
    color: rgb(255, 255, 255);
}

.nav-link-icon:hover {
    transition: all .5s ease;
    color: rgb(0, 176, 207)
}

.div-icon {
    margin-right: 27%;
}

.img-fluid {
    margin-top: 1%;
}

.img-fluid:nth-child(2) {
    opacity: 0.9;
}

.img-fluid:last-child {
    margin-right: 20%;
}

.img-fluid:nth-child(2):hover {
    transform: rotate(270deg);
    opacity: 1;
    transition: all 1.4s ease;
}

.img-fluid:nth-child(2) {
    width: 300px;
}


.d-flex {
    direction: rtl;
    margin-top: 3%;
    /* flex-wrap: wrap; */
}

.justify-content-evenly {
    justify-content: space-evenly;
    padding: 0% 16% 0% 4%;
}

.f-right {
    float: right;
    justify-content: space-evenly;
    padding: 0% 2% 0% 2%;
}

.f-left {
    float: left;
    justify-content: space-evenly;
    padding: 0% 2% 0% 2%;
}

.bottom-sp {
    background-color: rgb(194, 194, 194);
    border-radius: 9px;
    font-size: smaller;
    padding: 1px 7px 1px 0px;
    justify-content: space-evenly;
    margin: 0% 1% 0% 1%;
}

.bottom-sp:first-child {
    margin-right: 1%;
}

.circle {
    text-align: center;
    margin-left: -7px;
    justify-content: space-around;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 29px;
    width: 29px;
    color: white;
    background-color: rgb(131, 0, 0);
    border-radius: 50%;
    display: inline-block;
}

.fs-2 {
    padding-right: 5%;
}

.fs-6 {
    padding-right: 11%;
}

.fs-4 {
    color: rgb(158, 158, 158);
}

.lh-lg {
    font-size: 14px;
    margin-top: 20%;
    padding-right: 10%;
}

#battry-ram {
    margin-left: 8%;
}

.p-ram {
    padding-left: 9%;
}

.flex-fill:nth-child(3) {
    text-align: center;
}

.round-circle {
    font-size: 12px;
    text-align: justify-all;
    padding: 5%;
    background: #5e0000;
    color: #fff;
    border-radius: 18px;
    box-sizing: border-box;
}

#d-f3 {
    margin-top: 60%;
}

.fa-mobile-screen-button {
    font-size: 22px;
    color: darkred;
}

.fa-camera {
    font-size: 22px;
    color: darkred;
}

#div-below-3 {
    color: black;
    margin-top: 14%;
    justify-content: space-evenly;
    padding: 0% 1% 0% 0%;

}

.justify-content-around {
    margin: 2%;
}

#core-8 {
    margin: 0 auto;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 66px;
    font-size: 30px;
    background-color: #00d338 !important;
    color: #fff;
}

.fw-light {
    color: black;
    font-size: 12px;
}

.fa-square-caret-left {
    color: rgb(0, 164, 175);
    font-size: 15px;
}

#core-8-1 {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 46px;
    font-size: 30px;
    background-color: #00d338 !important;
    color: #fff;
    margin-top: 18%;
}

.container-1 {
    margin-top: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2%;
}

.nav {
    direction: rtl;
    background-color: #f2f2f2;
}

.nav-A {
    color: black;
    font-size: 14px;
    justify-content: space-between;
    padding: 1% 4% 1% 4%;
}

.nav-A:hover {
    color: #5e0000;
    font-size: 15px;
    transition: all .5s ease;
}

.nav-A:first-child {
    color: black;
    transition: all .5s ease;
}

.nav-A:nth-child(2) {
    background-color: darkred;
    color: white;
}

.fa-battery-full, .fa-memory {
    font-size: 22px;
    color: darkred;
}

#small-head {
    font-size: 12px;
}

#small-head1 {
    font-size: 18px;
}

#small-head2 {
    font-size: 14px;
    color: gray;
}

.button {
    box-sizing: border-box;
    padding: 4px 15px;
    float: left;
    color: #fff;
    font-size: 14px;
    color: #000;
    border-radius: 22px;
}

.button:hover {
    color: white;
    background-color: #5e0000;
    transition: all .6s ease-in-out;
}

.d-block {
    justify-content: space-around;
    margin-bottom: 5%;
}

.flex-shrink-1 {
    transition: all .9s ease-in-out;
    float: left;
    /* background-color: #10003b; */
}

.w-100 {
    /* background-color: #ffffff; */
}

#warn-text {
    line-height: 2em;
    font-size: 11px;
}

.fa-triangle-exclamation {
    color: gold;
    font-size: 20px;
}

#list-1 {
    list-style: none;
}

.img-thumbnail {
    width: 6%;
    height: 2%;
    margin-right: 5%;
}

.explaintion-1 {
    text-decoration: none;
    text-decoration-color: none;
    color: #808080;
    font-size: 14px;
    margin-right: 1em;
}

.vl {
    border-left: 1px solid gray;
    height: 3145px;
}

.left-side-img {
    width: 250px;
    margin: 30% 13% 0% 1%;
    border-radius: 12px;
}

#brand-sub-title {
    font-size: smaller;
    margin-right: 10%;
    color: gray;
}

#brand-title-1 {
    font-size: 14px;
    margin-top: 10%;
    margin-right: 10%;
}

#show-phone {
    margin-right: 10%;
    margin-top: 10%;
    display: grid;
    width: 250px;
    grid-template-areas:
        "img1 img2"
        "img3 img4";
    grid-gap: 1rem;
}

.show-img {
    width: 127px;
}

.show-div-1 {
    width: 50%;
    grid-area: img1;
}

.show-div-2 {
    width: 50%;
    grid-area: img2;
}

.show-div-3 {
    width: 50%;
    grid-area: img3;
}

.show-div-4 {
    width: 50%;
    grid-area: img4;
}

.show-comment {
    text-decoration: none;
    color: #808080;
    font-size: 12px;
    display: block;
    padding: 10% 20% 0% 0%;
    width: 120px;
}

#brand-title {
    font-size: smaller;
    margin-top: 25%;
    margin-right: 10%;
}

.f-sp1 {
    margin-right: 26%;
    color: #ff0025;
    font-size: 20px;
    font-weight: 600;
}

#list-1-br {
    display: none;
}

.internet-btn {
    margin-top: 1%;
    text-align: center;
    padding: 2px 10px;
    border: 1px solid #ff0025;
    border-radius: 25px;
    text-decoration: none;
    font-size: 13px;
    color: #ff0025;
    font-weight: 500;
}

.internet-btn:hover {
    color: white;
    background-color: #5e0000;
    transition: all .6s ease-in-out;
}

#brand-btn {
    margin: 5% 40% 12% 0%;
}

#split-brand-line {
    margin-right: 5%;
}

.all-brand {
    width: 264px;
    display: flex;
    flex-wrap: wrap;
}

.brand-flex {
    width: 100%;
    display: flex;
}

.brand-flex li {
    width: 24%;
    font-size: 12px;
    list-style: none;
    justify-content: space-between;
    margin: 0% 0% 0% 12%;
}

.brand-flex li div {
    justify-content: space-between;
    margin: 50% 0% 0% 50%;
}

.brand-flex li div a {
    text-align: center;
}

.flex-contain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1% 1% 7% 1%;
    direction: rtl;
    background-color: rgb(31, 31, 31);
    border-radius: 10px 10px 0px 0px;
}

.fl-001 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    font-size: 12px;
    color: white;
}

.di-0 {
    color: rgb(219, 219, 219);
    width: 300px;
}

.fl-002 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    font-size: 12px;
    margin-top: 4%;
}

.di-1 {
    color: rgb(189, 189, 189);
    width: 300px;
}

.fl-003 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
}

.f1-003-p {
    color: rgb(219, 219, 219);
    font-size: 12px;
}

#f1-003-p-head {
    margin-top: 10%;
}

.fl-004 {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

#last-dfoot {
    text-align: right;
    font-size: 12px;
    color: white;
    padding: 2%;
    background-color: black;
}

.last-sp {
    float: left;
    justify-content: space-between;
    margin: 0px 9px 0px 9px;
    color: white;
}

.col-img {
    vertical-align: middle;
    border-radius: 12px;
    padding-left: 5%;
    width: 35%;
    justify-content: space-around;
    margin: 1%;

}

#magic-circle {
    background-color: lightseagreen;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: block;
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 1%;
    font-size: 30px;
    font-weight: bolder;
    margin: 10% 50% 0% 40%;
}

#magic-circle:hover {
    box-shadow: 5px 10px #6e1616;
    background-color: #5e0000;
    border: #ffffff 1px solid;
    transition: all .9s ease;
}

.fa-angle-up {
    color: white;
}

@media (max-width:992px) {
    .navbar-nav {
        text-align: center;
        padding-bottom: 5%;
        margin-top: -10%;
    }

    #more-icon {
        display: none;
    }

    .div-icon {
        display: none;
    }

    .h-line {
        display: none;
    }

    .circle {
        display: none;
    }

    .d-flex {
        margin-top: 10% 0% 0% 0%;
        flex-direction: column;
        text-align: center;
        flex-wrap: wrap;
    }

    .container-1 {
        margin-top: 0%;
        flex-wrap: wrap;
        /* flex-direction: column; */
    }

    .flex-fill:nth-child(3) {
        margin-right: 26%;
    }
}

@media (max-width:1229px) {
    #d-f3 {
        margin-top: 1%;
    }

    .flex-contain {
        flex-wrap: wrap;
    }

    #last-dfoot {
        display: none;
    }

    .img-thumbnail {
        width: 16%;
        height: 12%;
        margin-right: 0%;
    }

    .img-fluid:last-child {
        padding-left: 0%;
    }

    .f-sp1 {
        margin-right: 7%;
    }

    .flex-shrink-1 {
        display: none;
    }

    .internet-btn {
        line-height: 6em;
    }

    #list-1-br {
        display: block;
    }

    #br {
        display: none;
    }

    .button {
        float: none;
    }

    .bottom-sp {
        display: none;
    }

    .container-1 {
        margin-top: 0%;
        flex-wrap: wrap;
        /* flex-direction: column; */
    }

    .flex-fill:nth-child(3), :nth-child(4) {
        margin-right: 0%;
    }

    .bottom-sp {
        justify-content: space-evenly;
        margin: 0% 1% 0% 5%;
    }

    .nav-A {
        color: black;
        font-size: 12px;
        justify-content: space-evenly;
        padding: 1% 4.2.1% 1% 4.2.1%;
    }
}
